.location-preview {
    margin-top: 20px;
    display: flex;
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
    p {
        padding: 10px;
        font-size: 1.2rem;
    }
    .title {
        font-size: 1.5rem;
    }

    .location-card {
        padding: 10px;
        .tempature {
            margin: 10px 0;
            display: flex;
            font-weight: bold;
            p {
                padding: 4px;
            }
            &.min {
                color: rgb(125, 125, 125);
            }
        }
    }
    .card-container {
        .delete-btn {
            cursor: pointer;
            align-self: flex-start;
            width: 20px;
            height: 20px;
            z-index: 2;
        }
    }

    @include for-normal-layout {
        img {
            max-width: 300px;
        }
        .title {
            font-size: 1.5rem;
        }
    }
    @include for-narrow-layout {
        img {
            min-width: 135px;
        }
        .title {
            font-size: 1rem;
        }
    }
    @include for-mobile-layout {
        margin-left: 0;
        p {
            font-size: 22px;
        }
        .weather-card {
            padding: 2px;
            .card-container {
                img {
                    margin: 10px 0;
                }
                .tempature {
                    margin: 10px 5px;
                    display: flex;
                    &.min {
                        color: rgb(125, 125, 125);
                    }
                }
            }
        }
    }
}
