.location-list {
    // flex-wrap: wrap;


    justify-content: center;
    .no-favorites {
        display: flex;
        justify-content: center;
        margin-top: -300px;
        align-items: center;
        h1 {
            font-size: 40px;
        }
    }

    @include for-mobile-layout {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    @include for-narrow-layout {
        flex-wrap: wrap;
        // .location-preview {
        //     margin-left: 0;
        // }
    }
    @include for-normal-layout {
        flex-wrap: nowrap;
    }
}
