.location-list {
// flex-wrap: wrap;
    .no-favorites {
        display: flex;
        justify-content: center;
        margin-top: -300px;

        align-items: center;
        h1 {
            font-size: 40px;
        }
    }

    @include for-mobile-layout {

        flex-wrap: nowrap;
        flex-direction: column;
    }
}
