.location-list {

    .no-favorites {
        margin-top: -300px;
        display: flex;
        justify-content: center;

        align-items: center;
        h1 {
            font-size: 40px;
        }
    }
}
