.weather-preview {
    margin-top: 20px;
    display: flex;
    margin-left: 10px;
    &:first-child {
        margin-left: 0;
    }

    p {
        margin-top: 10px;
        font-size: 30px;
    }
    .weather-card {
        padding: 5px;
        .card-container {
            img {
                margin: 10px 0;
            }
            .tempature {
                margin: 10px 5px;
                display: flex;
                &.min {
                    color: rgb(125, 125, 125);
                }
            }
        }
    }

    @include for-mobile-layout {
        p {
            font-size: 12px;
        }
        .weather-card {
            padding: 2px;
            .card-container {
                img {
                    margin: 10px 0;
                }
                .tempature {
                    margin: 10px 5px;
                    display: flex;
                    &.min {
                        color: rgb(125, 125, 125);
                    }
                }
            }
        }
    }
}
